################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/documentsearcher/v16
/Debug
/lucene_api/dll/*.dll
/lucene_api/dll/*.lib
/x64/
/.vs
/lppapi/include/lucene++/out/
