################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/documentsearcher/v16
/Debug
/src/lucene_api/
/src/lucene_api/
/src/lucene_api/
/x64/
/.vs
/test/x64/
/packages/
/test/packages.config
/thirdparty/include/lucene++/out/
/thirdparty/lib/